---
import GuestLogin from "@/components/GuestBook/GuestLogin.astro";
import ReviewGrids from "@/components/GuestBook/ReviewGrids.astro";
import WriteMessage from "@/components/GuestBook/WriteMessage.astro";
import Modal from "@/components/Modal.astro";
import Layout from "@/layouts/Layout.astro";
import { GuestBook, Users, db, eq } from "astro:db";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

const reviews = await db
    .select()
    .from(GuestBook)
    .innerJoin(Users, eq(GuestBook.userId, Users.id));

const reviewsJsonLD = reviews.map(({ Users, GuestBook }) => ({
    "@type": "Review",
    author: {
        "@type": "Person",
        name: Users.username,
    },
    reviewRating: {
        "@type": "Rating",
        ratingValue: GuestBook.calification ?? 5,
    },
    datePublished: GuestBook.createdAt,
}));

const jsonSchemaOrgWithReviews = {
    "@context": "https://schema.org",
    "@type": "Organization",
    name: "Alexander's Guest Book",
    description: "Leave a message or review for the website",
    url: "https://www.yanquisalexander.com/guestbook",
    inLanguage: "en-US",
    author: {
        "@type": "Person",
        name: "Alexander Barrios",
    },
    publisher: {
        "@type": "Organization",
        name: "Alexander Barrios",
    },
    review: reviewsJsonLD,
};

const currentUserReview = reviews.find(
    (review) => review.GuestBook.userId === session?.user?.id,
);
---

<Layout title="Guest Book">
    <script
        type="application/ld+json"
        set:html={JSON.stringify(jsonSchemaOrgWithReviews)}
    />
    <div class="flex items-center flex-col min-h-screen pt-28">
        <h1 class="text-3xl font-bold">Guest Book</h1>
        <p class="text-gray-500">Leave a message or review for the website</p>

        <div class="mt-4">
            {
                !session ? (
                    <GuestLogin />
                ) : (
                    <>
                        <div class="flex items-center justify-center gap-4 mt-8">
                            <img
                                class="size-12 rounded-full"
                                src={session.user.image}
                                alt={`Avatar del usuario ${session.user.name}`}
                            />
                            <div class="flex flex-col justify-center">
                                <h4 class="text-lg font-bold">
                                    {session.user.name}
                                </h4>
                                <button
                                    id="logout"
                                    class="text-sm font-light text-purple-300"
                                >
                                    Logout
                                </button>
                            </div>
                        </div>
                        <WriteMessage review={currentUserReview} />
                    </>
                )
            }
        </div>

        <ReviewGrids reviews={reviews} />
    </div>
</Layout>

<script>
    import { signOut } from "auth-astro/client";
    import { $ } from "@/lib/dom-selector";

    document.addEventListener("astro:page-load", () => {
        const logoutButton = $("#logout");
        if (logoutButton) {
            logoutButton.addEventListener("click", async () => {
                await signOut();
                location.reload();
            });
        }
    });
</script>
