---
import jost from "@fontsource-variable/jost/files/jost-latin-wght-normal.woff2";

import type { Preload } from "@/types/Preload";

interface Props {
    title: string;
    description?: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const {
    title,
    description,
    preload,
    canonical,
    image = "/og-image.png",
} = Astro.props as Props;

const canonicalURL = canonical
    ? new URL(canonical, Astro.site)
    : new URL(Astro.url.pathname, Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
{canonical && <link rel="canonical" href={canonicalURL} />}

{description && <meta name="description" content={description} />}

<link rel="preload" href={jost} as="font" type="font/woff2" crossorigin />

{
    preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
        <link {rel} {href} {as} {type} {crossorigin} />
    ))
}

<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />
<meta
    name="keywords"
    content="alexander barrios, blog, desarrollo web, programación, javascript, astro, vue, nuxt, twitch"
/>
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta name="og:image" content={new URL(image, Astro.url)} />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content={Astro.url} />
<meta name="og:site_name" content="Alexander Barrios" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet"
/>
