---
import SiteFooter from "@/components/SiteFooter.astro";
import SiteHeader from "@/components/SiteHeader.astro";
import Seo from "@/components/Seo.astro";
import { ViewTransitions } from "astro:transitions";
import type { Preload } from "@/types/Preload";
import ButtonUp from "@/components/ButtonUp.astro";

interface Props {
	title?: string;
	description?: string;
	preload?: Array<Preload>;
	canonical?: string;
	image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;

const normalizedTitle = title
	? `${title} | Alexander Barrios`
	: "Alexander Barrios";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<Seo
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={normalizedTitle}
		/>
		<ViewTransitions />
	</head>
	<body class="text-white">
		<div class="fixed bg-purple-700 left-0 top-0 -z-10 h-full w-full">
			<div
				class="absolute top-0 z-[-2] min-h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
			>
			</div>
		</div>
		<SiteHeader />
		<main class="px-6 sm:px-10">
			<slot />
		</main>
		<SiteFooter />
		<ButtonUp />
		<style is:global>
			:root {
				--color-primary: #ddd;
				--color-secondary: #333;
				--color-accent: #9146ff;
				--color-accent-rgb: 213, 255, 0;

				--background-color: #141800;
				--background-twitch: var(--color-twitch-ice);

				--color-twitch: #9146ff;
				--color-twitch-ice: #f0f0ff;
			}
			html {
				font-family: "Jost", sans-serif !important;
			}
		</style>
	</body>
</html>
